{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="{% url 'patient_list' %}">Patient List</a></li>
        <li><a href="{% url 'add_patient' %}">Add Patient</a></li>
      </ul>
      <h2>Sanjeevani Hospital Patient's Data Entry</h2>
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>
